@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

:root {
    --outlineColor: rgba(109, 108, 108, 0.188);
    --outlineFeedColor: rgba(217, 210, 210, 0.50);
    --cardColor: rgba(255, 255, 255, 0.773);
    --feedCardColor: #FFFFFF;
    --inputBg: rgba(240, 238, 238, 0.90);
    --iconColor: rgba(156, 122, 122, 0.91);
    --gray: rgba(36, 45, 73, 0.65);
    --profileBoxShadow: 0px 4px 17px 2px rgba(0, 0, 0, 0.25);
    --feedBoxShadow: 0px 4px 17px 2px rgba(183, 183, 183, 0.145);
    --gradient-color1: linear-gradient(114deg, rgba(176, 136, 74, 1) 0%, rgba(160, 70, 252, 0.7077205882352942) 78%);

    /* dark mode */
    --outlineColor-dark: rgba(104, 97, 86, 0.19);
    --outlineFeedColor-dark: rgba(47, 51, 53, 0.5);
    --cardColor-dark: rgba(24, 26, 27, 0.827);
    --feedCardColor-dark: #181a1b;
    --inputBg-dark: rgba(33, 36, 37, 0.9);
    --iconColor-dark: rgba(159, 150, 138, 0.91);
    --gray-dark: rgba(177, 195, 217, 0.65);
    --profileBoxShadow-dark: 0px 4px 17px 2px rgba(136, 131, 131, 0.559);
    --feedBoxShadow-dark: 0px 4px 17px 2px rgba(183, 183, 183, 0.145);
    --gradient-color1-dark: linear-gradient(114deg, #8d6d3b 0%, rgba(81, 3, 161, 0.71) 78%);
    --text-color-dark: #e8e6e3;
}

.App {
    overflow: auto;
    background-color: #f3f3f3;
    height: 100vh;
    transition: all 1s linear;
}

#light {
    background-color: #f3f3f3;
}

#dark {
    background-color: #131516;
}

body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
}

.firework,
.firework2 {
    position: absolute;
    width: 15rem;
    height: 20rem;
    border: 50%;
    background: rgba(124, 37, 170, 0.419);
    filter: blur(80px);
    overflow: hidden;
    z-index: 0;
}

.firework2 {
    background: rgb(176, 136, 74);
    filter: blur(160px);
    z-index: 0;
}

.button {
    background: rgb(176, 136, 74);
    background: var(--gradient-color1);
    border: none;
    outline: none;
    border-radius: 20px;
    transition: all 0.2s ease-in-out;
    cursor: pointer;
    color: white;
}

.button:hover {
    color: grey;
}

.input {
    padding-left: 6px;
    padding-right: 6px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 8px;
    width: 100%;
    height: 3rem;
    border: 1px solid var(--outlineColor);
    background: var(--inputBg);
    border-radius: 50px;
    outline: none;
}


::-webkit-scrollbar {
    display: none;
}