.userPost,
.userPost-dark {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    gap: 1rem;
}

.userPost-controller {
    width: 100%;
}

.userPost-selector {
    display: flex;
    justify-content: flex-end;
    padding-right: 25px;
}

@media (max-width: 480px) {
    .userPost-selector {
        display: flex;
        justify-content: flex-end;
        width: 100%;
    }
}