.signupSection,
.signupSection-dark {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 8px;
    height: 50%;
    width: 50%;
}

.signupSection-dark {
    color: white;
}

.signupSection>input,
.signupSection-dark>input {
    border-radius: 10px;
    height: 2.5rem;
}

.signupSection>.signup-btn,
.signupSection-dark>.signup-btn {
    height: 3rem;
    width: 102%;
    border-radius: 10px;
    font-weight: bold;
}