.userCard,
.userCard-dark {
    position: relative;
    padding: 8px;
    border-radius: 20px;
    border: 1px solid var(--outlineColor);
    background-color: var(--cardColor);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.userCard-dark {
    color: var(--text-color-dark);
    border: 1px solid var(--outlineColor);
    background-color: var(--cardColor-dark);
}

.userCard>.setting,
.userCard-dark>.setting {
    position: absolute;
    top: 5px;
    right: 8px;
    cursor: pointer;
}

.profilePhoto {
    padding: 8px;
}

.profilePhoto>img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    box-shadow: var(--profileBoxShadow);
    object-fit: fill;
    cursor: pointer;
}

.userCard-dark>.profilePhoto>img {
    box-shadow: var(--profileBoxShadow-dark);
}

.userDetails {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2px;
}

.userDetails>div:nth-of-type(1) {
    font-size: 18px;
    font-weight: bold;
}

.userDetails>div:nth-of-type(2) {
    font-size: 14px;
    color: var(--gray);
}

.userCard-dark>.userDetails>div:nth-of-type(2) {
    color: var(--gray-dark);
}

.social-details {
    display: flex;
    margin-top: 2rem;
    gap: 2rem;
}

.postDetail,
.followerDetail,
.followingDetail {
    display: flex;
    flex-direction: column;
}

.social-details>.postDetail>div:nth-of-type(1),
.social-details>.followerDetail>div:nth-of-type(1),
.social-details>.followingDetail>div:nth-of-type(1) {
    align-self: center;
    font-weight: bold;
}

.social-details>.postDetail>div:nth-of-type(2),
.social-details>.followerDetail>div:nth-of-type(2),
.social-details>.followingDetail>div:nth-of-type(2) {
    align-self: center;
    color: var(--gray);
    font-weight: bold;
    font-size: 12px;
}

.userCard-dark>.social-details>.postDetail>div:nth-of-type(2),
.userCard-dark>.social-details>.followerDetail>div:nth-of-type(2),
.userCard-dark>.social-details>.followingDetail>div:nth-of-type(2) {
    color: var(--gray-dark);
}


.setting {
    color: var(--iconColor);
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}

.userCard-dark>.setting {
    color: var(--iconColor-dark);
}

.setting:hover {
    color: rgb(70, 67, 67);
}