.mainSection {
    padding: 2px;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 10px;
    border-radius: 1rem;
    height: 92vh;
    width: 100%;
    overflow: auto;
    gap: 1rem;
    /* IE and Edge */
    -ms-overflow-style: none;
    /* Firefox */
    scrollbar-width: none;
}

@media (max-width: 480px) {
    .mainSection {
        overflow-x: hidden;
    }
}