.mainPage,
.mainPage-dark {
    display: flex;
    height: 90vh;
    width: 100%;
    justify-content: center;
}

.main-leftSection {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.mainPage-dark>.main-leftSection {
    color: white;
}

.main-leftSection>h1 {
    font-size: 50px;
    background: linear-gradient(114deg, rgba(176, 136, 74, 1) 0%, rgba(160, 70, 252, 0.7077205882352942) 78%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.main-rightSection {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.notice-btn {
    font-weight: bold;
    color: rgba(160, 70, 252, 0.7077205882352942);
    cursor: pointer;
}

.mainPage-dark>.main-rightSection>.notice {
    color: white;
}

@media (max-width: 480px) {
    .main-leftSection {
        display: none;
    }

    .main-rightSection {
        justify-content: flex-start;
    }
}